*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'poppins', sans-serif;
    } 
    body{
        /* overflow: hidden; */
    }
    .container{
        width: 100%;
        min-height: 100vh;
        background-color: aliceblue;
    }
    nav{
        display: flex;
        width: 100%;
        justify-content: space-around;
        height: 80px;
        z-index: 111;
        line-height: 80px;     
        background-color: transparent;
    }
    .logo{
        display: flex;
        font-size: 40px;
        font-weight: 800;
        color: #0a5f0a;
        letter-spacing: 3px;
        cursor: pointer;
        text-transform: uppercase;
    }
    .nav-item{
        display: flex;
    }
    .nav-item li{
        list-style: none;
        margin: 0 15px;
    }
    .nav-item li a{
        font-size: 25px;
        color: #333;
        letter-spacing: 3px;
        text-decoration: none;
        text-transform: capitalize;
    }
    .nav-item li:hover a{
        color: #0cc415;
    }
    .btn a{
        padding: 10px;
        background: linear-gradient(45deg,#87bd87,green);
        text-decoration: none;
        color: #333;
        font-size: 18px;
        font-weight: 500;
        border-radius: 20px;
        box-shadow: 0 4px 5px  rgba(0, 0, 0, 0.4);
    }
    .btn a:hover{
        background:linear-gradient(45deg,green,#3fdb3f,#B2E0D6);
    }
    .wrapper{
        display: flex;
        width: 100%;
        height: calc(100vh - 80px);
        justify-content: center;
        align-items: center;
        padding: 0 10%;
        overflow: hidden;
    }
    .wrapper::before{
        position: absolute;
        content: '';
        height: 600px;
        width: 600px;
        border-radius: 50%;
        left: -12%;
        top: 40%;
        background: linear-gradient(45deg,#87bd87,green);
        animation: object1 6s linear infinite;
    }
    .wrapper::after{
        position: absolute;
        content: '';
        height: 200px;
        width: 200px;
        border-radius: 50%;
        left: 35%;
        top: 12%;
        background: linear-gradient(45deg,#87bd87,green);
        animation: object2 6s linear infinite;
    }
    @keyframes object1 {
        50%{
            left: -13%;
            top: 41%;
        }

    }
    @keyframes object2 {
        50%{
            left: 35%;
            top: 10%;
        }
    }
    .cols{
        width: 50%;
    }
    .cols0{
        z-index: 5;
        width: 60%;
    }
    .topline{
        display: block;
        position: relative;
        font-size: 35px;
        letter-spacing: 5px;
        color: #333;
    }
    .topline::after{
        position: absolute;
        content: '';
        height: 4px;
        width: 45px;
        bottom: 10px;
        color: #87bd87;
    }
    h1{
        display: block;
        font-size: 40px;
        font-weight: 900;
        color: #333;
    }
    .multitext{
        color: #87bd87;
        text-transform: capitalize;
    }
    p{
        display: block;
        width: 90%;
        font-size: 18px;
        color: #333;
    }
    .btns{
        width: 100%;
        position: relative;
        left: 20px;
    }
    button{
        outline: none;
        border: none;
        cursor: pointer;
        font-size: 19px;
        font-weight: 400;
        color: #fff;
        background-color: #333;
        padding: 8px 14px;
        margin: 20px 5px;
        letter-spacing: 2px;
        text-transform: capitalize;
        box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
        border-radius: 15px;
    }
    button:hover{
        color: #87bd87;
    }
    .imgbox{
        position: relative;
        width: 100px;
        height: 100%;
        border-radius: 10px
    }
    .imgbox img{
        position: relative;
        height: 100%;
    }

